.body {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  .avatar {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .name {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  .profesion {
    text-align: center;
    font-size: 35px;
  }
}
